// .card-swiper {
//   margin: 50px 0;

//   padding-bottom: 25px;
// }

.card-swiper {
  padding-left: 24px;
}

.card-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card-holder {
    margin-bottom: 15px;
    width: 48%;
  }
}

.tab-pane {
  display: none;

  &.active {
    display: block;
  }
}

.play-circle {
  padding: 7px 10px 0;
  margin: auto;
  width: 70px;
  height: 70px;

  border: solid 2px rgba(255, 255, 255, 0.4);
  border-radius: 50% / 50%;
  object-fit: contain;
}

.live-card {
  //width: 178px;

  // min-height: 263px;

  display: flex;
  flex-wrap: wrap;
  height: 100%;
  min-height: 285px;

  background: linear-gradient(to bottom, #552f9c, #9b3e87);
  border-radius: 12px;

  .live-tag {
    position: absolute;
    top: 10px;
    right: 12px;

    padding: 3px 18px 2px 8px;

    font-size: 14px;
    color: #ffffff;

    background: #fc476e;
    border-radius: 23px;

    &:before {
      content: '•';

      display: inline;
      margin-right: 4px;
    }
  }

  .play-holder {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;

    text-align: center;
  }

  .image-thumbnail {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 9px 8px 0 0;
  }

  .image-thumbnail-back {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
  }

  .top {
    position: relative;

    display: block;
  }

  .bottom {
    padding: 16px 16px 9px;

    p {
      padding: 0;
      margin-bottom: 3px;

      font-size: 13px;
      color: $white;
    }

    .duration {
      color: $light-pink;
    }
  }

  .profile-wrapper {
    display: flex;
    align-items: center;
  }

  .back {
    // height: 0;
    display: none;

    opacity: 0;
    pointer-events: none;

    p {
      margin-bottom: 0;

      font-weight: 100;
      color: $white;
    }

    .details {
      margin-top: 25px;

      font-size: 14px;
      color: $light-pink;
      text-align: center;
    }

    .name {
      margin-left: 14px;

      font-size: 14px;
    }

    .description {
      margin-top: 38px;
      margin-left: 4px;

      font-size: 15px;
      text-align: center;
    }
  }

  .front {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    border-radius: 12px;
  }

  @include on-event {
    .front {
      height: 0;

      opacity: 0;
      transition: 0.3s ease-in;
    }

    .back {
      display: flex;
      flex-wrap: wrap;
      padding: 17px;
      height: 100%;
      // min-height: 262px;

      opacity: 1;
      transition: 0.3s ease-in;
      pointer-events: initial;
    }
  }
}

.normal-card {
  position: relative;

  display: block;
  // margin: 20px 0;
  //width: 178px;

  color: $white;

  border-radius: 12px;
  z-index: 2;

  &:before {
    content: '';

    position: absolute;
    bottom: 0;

    display: block;
    width: 100%;
    height: 35%;

    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.02),
      rgb(7, 16, 66)
    );

    border-radius: 0 0 12px 12px;
    opacity: 0.8;
  }

  @include on-event {
    &:before {
      z-index: 3;

      height: 100%;

      background: rgba(0, 0, 0, 0.38);
      transition: 0.2s ease-in;
    }
  }

  .image-thumbnail {
    width: 100%;
    height: 262px;
    object-fit: cover;
    border-radius: 12px;
  }

  .text-holder {
    position: absolute;
    bottom: 4px;
    padding: 0;
    top: auto;
    left: 8px;
    right: 8px;
  }

  .name {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1.2px;
    text-shadow: 0 0 20px #333;
    margin-bottom: 0;
    overflow: hidden;
    height: 20px;
  }

  .job {
    margin-bottom: 5px;

    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1px;
    text-shadow: 0 0 20px #333;
  }
}

.clip-card {
  position: relative;
  //width: 178px;
  // height: 261px;

  border-radius: 12px;

  &:before {
    content: '';

    position: absolute;
    bottom: 0;

    display: block;
    width: 100%;
    height: 35%;

    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.02),
      rgb(7, 16, 66)
    );

    border-radius: 0 0 12px 12px;
    opacity: 0.8;
  }

  @include on-event {
    &:before {
      z-index: 3;

      height: 100%;

      background: rgba(0, 0, 0, 0.38);
      transition: 0.2s ease-in;
    }
  }

  .play-holder {
    position: absolute;
    z-index: 148 !important;
    margin: 96px 50px;
  }

  .image-thumbnail {
    width: 100%;
    height: 262px;
    object-fit: cover;

    border-radius: 12px;
  }

  .text-holder {
    position: absolute;
    bottom: -7px;
    z-index: 101;

    width: 158px;
    height: auto;
    padding: 30px 30px 7px 15px;

    color: $white;
  }

  .text {
    font-size: 9px;
    overflow: hidden;
  }

  p {
    margin-bottom: 0;
  }

  .text-profile {
    bottom: 2px;
  }
}

.notification-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  p {
    margin-bottom: 0;
  }

  .image-wrapper {
    width: 8%;
  }

  .title {
    margin-top: 1px;

    font-size: 15px;
    color: $white;
  }

  .description {
    margin-top: 2px;

    font-size: 13px;
  }

  .time {
    margin-top: 3px;
    font-size: 13px;
    color: #757b96;
  }
}

@media screen and (max-width: 350px) {
  .card-listing {
    .card-holder {
      width: 100%;
    }
  }
}
