.section-entertainment {
  &:after,
  &:before {
    content: '';

    display: block;
    background: #242b58;
    width: 90%;
    height: 2px;
    margin: 7px auto;
  }

  &:after {
    margin-top: 30px
  }

  .tab-item {
    opacity: 1;
    margin-right: 15px;
  }

  .nav-tabs {
    padding-left: 25px;
    margin-bottom: 0;
  }

  .tab-link.active {
    .image-holder{
      background-image: linear-gradient(to bottom, $pink, $pink);
    }

    &:after {
      display: none;
    }
  }


  .tab-item {
    .tab-link {
      position: initial;
      display: initial;
    }
  }

  .tab-content {
    padding: 0 24px;
  }

  .image-holder {
    display: flex;
    padding: 17px;
    justify-content: center;
    align-items: center;
  
    background-image: linear-gradient(to bottom, #9b3e87, #552f9c);
    border-radius: 5px;

 

    img {
      display: block;
      height: 30px;
      width: 30px;
    }

    &:hover {
      background-image: linear-gradient(to bottom, #ef277c, #ef277c);
    }
  }
  
  .tab-title {
    margin-top: 12px;
  
    font-size: 11px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
  }

  .tab-pane-title {
    // margin-top: 19px;
    font-size: 20px;
    // text-transform: uppercase;
    color: $purple;
    // font-weight: 800;
  }
}