.section-fan-comment {
  padding-bottom: 20px;
  min-height: 100vh;

  .section-heading {
    margin-top: 27px;
  }

  .spacing {
    padding-bottom: 80px;
  }

  .card-question {   
    padding: 17px 18px 20px;

    background: $white;
    border-radius: 7px;

    .profile-holder {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .profile-picture {
      width: 29px;
      border-radius: 50px;
   }
  
    .profile-name {
      margin-left: 8px;
      margin-bottom: 0;
      color: $grape;
      font-size: 14px;
    }

    .text-holder {
      margin-top: 5px;
    }

    .question-description {
      font-size: 13px;
      color: $light-pink;
    }

    .question-statement {
      margin-bottom: 0;
      font-size: 14px;
      color: $eggplant;
    }
  }

  .comment-card {
    display: flex;
    margin-bottom: 7px;

    .profile-picture {
      width: 51px;
   }

    .image-wrapper {
      width: 21%;
    }

    .text-wrapper {
      width: 85%;
    }

    .name {
      margin-top: -2px;
      margin-bottom: 0;
  
      font-size: 13px;
   }

   .date-time {
     margin-top: 2px;
     margin-bottom: 0;
     
     font-size: 14px;
     font-weight: 100;
     color: #666c8a;
    }

    .comment {
      margin-top: 5px;
      font-size: 15px;
      line-height: 19px;
   }
  }

  .btn-pink {
    margin-top: 15px;
    padding: 0px !important;
  }

  .btn-icon {
    width: 46px;
  }

  .form-group {
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    margin-bottom: 0;
    position: fixed;
    margin: 0;
    padding: 0;
    background: #091042;
    bottom: 62px;
    width: 350px;

    .btn-link {
      // width: 20%;
      // display: block;

      img {
        margin-top: 5px;
        width: 46px;
        margin-left: -10px;
      }

    }

    input#comment {
      width: 80%;
      display: block;
    }
  }

  .btn-link {
    width: 4%;
  }

  .comments {
    h2 {
      margin-top: 40px;
      margin-bottom: 7px;
      
      font-size: 17px;
      font-weight: 800;
    }

    input {
      width: 87%;

      font-family: $font-poppins-regular;

      background: none;
      border-color: $grape;
    }
  }

  .comment-listing {
    margin-top: 21px;
  }

  .btn-border-violet {
    margin-top: 15px;
  }

  
}

