.fan-questions {
  margin-top: 10px 5px 10px 20px;

  .swiper {
    padding-left: 20px;
  }
}

.slider-fan-question {
  padding: 15px;

  background: $white;
  border-radius: 7px;

  cursor: pointer;
}

.slider-feedback
{
  width: 300px;
}

.slider-fan-feedback {
  padding: 15px;

  background: #2C1677;
  border-radius: 7px;

  cursor: pointer;
}

.star-rating-feedback {
  display: flex;
  padding-left: 15px;
  justify-content: center;
}

.fan-data {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.fan-name {
  margin-bottom: 0;
  color: $grape;
}

.fan-feedback-name {
  margin-bottom: 0;
  color: $white;
  font-size: 13px;
}

.fan-message {
  margin-bottom: 10px;
  color: $eggplant;
}

.fan-message-feedback {
  margin-bottom: 10px;
  color: $white;
}

.fan-name,
.fan-message {
  font-family: $font-poppins-regular;
  font-size: 13px;
  white-space: break-spaces;
}
.fan-message {
    height: 75px;
    overflow: auto;
}

.fan-image {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  object-fit: cover;

  border-radius: 50px;
}

.fan-chat {
  width: 100%;
  top: 2px;
  left: 0;
  position: relative;
  color:$grape;
}

.fan-nice {
  position: relative;
  top: 2px;
  left: 4px;
}

.message-action-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote-wrapper {
  margin: 0 auto;
  position: relative;
  left: -9px;
}

.btn-vote {
  border: none;
  color: $white;
  background: $pink;
  padding: 0;
  font-family: "Poppins-Regular";
  font-weight: 100;
  width: 91px;
  border-radius: 40px;
  height: 30px;
  display: flex;
  flex: 0 0 75%;
  align-items: center;

  .fan-votes {
    position: relative;
    font-size: 10px;
    vertical-align: middle;
  }
}

.read-more-text {
  color: $petal;

  &:hover {
    color: $petal;
    text-decoration: none;
  }
}
