.overlay-image {
  position: relative;
  min-height: 100vh;
  background-color: $navy;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: url('../../assets/images/people-partying-close-up-photography-2705089.png') center no-repeat;
    background-size: cover;
  }
}

.round-image {
  position: relative;

  width: 60px;
  height: 60px;
  object-fit: cover;

  border-radius: 50px;
}

.after-heading-wrapper,
.after-heading-short-wrapper {
  // padding-top: 30px;
  height: auto;
  min-height: 91.8vh;
  background-color: #071143;
  overflow: auto;
}


.section-title {
  font-family: $font-codec-cold-trial-bold;
  font-size: 18px;
  // color: $white;
}

.header-subtitle {
  display: block;
  width: 100%;
  // margin-top: 29px;
  margin-bottom: 0;
  
  font-size: 11px;
  text-align: center;
}

.border-bottom-wrapper {
  padding-bottom: 20px;

  border-bottom: 2px solid $fiord;
}

.border-top-wrapper {
  padding-top: 30px;

  border-top: 2px solid $fiord;
}

.order-information-wrapper,
.order-record-wrapper {
  font-family: $font-poppins-regular;
  font-size: 18px;
}

.blank-page {
  height: 140px;
  text-align: center;
  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1052;
    background-color: rgba(0, 0, 0, 0.58);
    .img-container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}
}
.height-100 {
  min-height: 100vh;
}
.-m-1{
  margin:0 -.25rem;
}
.base-line {
  align-items: baseline;
}
.btn-custome {
  background-color: transparent;
  border: 0;
}