
header {
  // position: absolute;
  position: sticky;
  top: 0;
  z-index: 1020;
  // top: 0;
  // left: 0;
  // z-index: 1;
  // z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;

  font-size: 14px;
  color: $white;
  text-align: center;

  background-color: $navy;
  box-shadow: -1px 2px 21px -3px rgba(0, 0, 0, 0.63);

  .content-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .navbar-toggler {
    padding: initial;
  }

  .title {
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    width: 100%;
    padding: 0 69px;
  }

  a, .a {
    position: absolute;
    color: $purple;

    &:hover {
      color: $grape;
      text-decoration: initial;
    }
  }

  .header-right {
    right: 25px;
  }
}