.question-list-wrapper {
  .round-image {
    margin-right: 8px;
    width: 30px;
    height: 30px;
  }

  .question-wrapper {
    margin-bottom: 15px;
    a:hover {
      text-decoration: none;
    }
  }

  .owner-name {
    color: $grape !important;
  }
  .best-question {
    color: $eggplant !important;
  }
  .see-question {
    &.question-by {
      font-weight: bold;
      color: $grape;
    }
  }

  .action-list {
    margin-top: 0;
  }
}
