*, 
*:before, 
*:after {
  margin: 0;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn,
a {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;

  @include on-event {
    outline: 0;
    box-shadow: none;
  }
}

/**
 * Basic styles for input fields
 */
input[type="email"],
input[type="password"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-focus-ring-color: none;
  outline: none;

  @include on-event {
    box-shadow: none;
  }
}

input,
select,
button,
textarea {
  outline: none;
  @include appearance(none);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @include appearance(none);
  }
}

// body {
//   width: 375px;
//   margin: auto;
// }

.container {
  // padding: 0 25px;
  padding: 0 22px;

  &.--wrapper {
    padding-top: 20px;
    min-height: calc(100vh - 55px);
    background: #071143;
    color: #fff;
  }
}

.content-container {
  padding: 0 10px;
  width: 100%;
  // max-width: 94%;
  margin: 0 auto;
}

.swiper-pagination-bullet,
.swiper-button-next {
  &:focus {
    outline: none;
  }
}

.swiper-pagination-bullet {
  background: $white;
}

#root,
.App {
  width: 100%;
  height: 100%;
}

.App {
  position: relative;
}

// #root {
//   z-index: 1050;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   outline: 0;
//   // overflow-x: hidden;
//   // overflow-y: auto;
//   height: 100%;
// }

// .App {
//   transform: translate(0, 0);
//   display: flex;
//   height: 100%;
//   width: 100%;
//   flex-direction: column;
// }

body {
  display: flex;
  justify-content: center;
  // height: 100vh;
}

@include respond-to (xs) {
  body {
    width: 100%;
    height: 100%;
  }
}