.ask-talent {

    #textarea-ask {
        font-family: $font-poppins-regular;
        width: 100%;
        height: 150px;
        font-size: 15px;
        color: #40476e;
        line-height: 25px;
        letter-spacing: 1.5px;
        // border-radius: 5px;
        padding: 8px 10px;
        margin-bottom: 10px;
        border: solid 1px #a5a7b4;
    }
    .title-textbox {
        font-size: 11px;
        letter-spacing: 1.1px;
        margin-bottom: 10px;
    }
    .title {
      //  font-family: $font-codec-cold-regular-trial;
      font-family: "Poppins-Regular";
      font-size: 26px;
        letter-spacing: 0.65px;
    }

    .validation
    {
        font-family: $font-codec-cold-regular-trial;
        font-size: 22px;
        letter-spacing: 0.65px;
        color:white;
    }
    
} 