.details-qa {
  // padding-bottom: 15px;
  color: $white;
  background: $navy;

  .section-heading {
    padding: 0;
  }

  .section-title-talent {
   // font-family: $font-codec-cold-regular-trial;
   font-family: "Poppins";
    font-size: 18px;
    letter-spacing: 0.45px;
    font-weight: bold;
    line-height: 27px;
    margin-top: 30px;
  }
}

.section-fan-comment {
  .section-title {
   // font-family: $font-codec-cold-regular-trial;
   font-family: "Poppins-Regular";
   font-size: 18px;
    letter-spacing: 0.45px;
    font-weight: 600;
    line-height: 27px;
  }
  .card-question .question-description {
   // font-family: $font-codec-cold-regular-trial;
   font-family: "Poppins-Regular"; 
   font-size: 14px;
    letter-spacing: 0.35px;
    margin:auto;
  }
  .card-question .question-statement {
    font-size: 14px;
    letter-spacing: 1.3px;
    line-height: 18px;
    margin:auto;
  }
  .btn-pink:hover {
    color: unset;
    background-color: unset;
    // border: 2px solid #8BC34A;
    // background:linear-gradient(to right, #4b8c00, #8BC34A);
    background:$purple;
  }
  .comments h2 {
    letter-spacing: 0.45px;
  }
  .comments input {
    width: 87%;
    height: 40px;
    font-family: "Poppins-Regular";
    // border-color: #a5a7b4;
    // background: #fff;
    letter-spacing: 1.3px;
    font-size: 13px;
    color: whitesmoke;
  }
  .comment-card .comment {
    border-bottom: dashed 1px rgba(250, 250, 250, 0.2);
    padding-bottom: 15px;
    font-size: 13px;
    letter-spacing: 1.3px;
    line-height: 18px;
  }
  .comment-card .date-time {
    font-size: 12px;
    letter-spacing: 1.2px;
  }
}