.detail-sticker .content-wrapper {
  padding-top: 25px;
}

.detail-sticker .content-wrapper p {
  font-size: 15px;
  letter-spacing: 1.5px;
  line-height: 23px;
  color: #fafafa;
  text-align: center;
  margin: 15px 0 20px;
}

.detail-sticker .content-wrapper .btn-pink {
  background-image: linear-gradient(to right, #8e176a, #e51f7c);
  border-color: #b51b72;
  padding: 7px;
}

.detail-sticker .content-wrapper .box-store {
  display: flex;
  flex-wrap: wrap;
}

.detail-sticker .content-wrapper .sub-box-store {
  position: relative;
  flex: 0 1 100%;
  background-image: linear-gradient(to right, #6641aa, #4614a3);
  height: 151px;
  border-radius: 5px;
}

.detail-sticker .content-wrapper .sub-box-store img {
  height: 70%;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  margin: 10% 10%;
}

.detail-sticker .content-wrapper .sub-box-store h3 {
  color: #ffb4cc;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 27px;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 0;
  text-align: left;
}

.detail-sticker .content-wrapper .sub-box-store h6 {
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0.25px;
  line-height: 8px;
  font-weight: 600;
  text-align: left;
}

.detail-sticker .content-wrapper .sub-box-store h6 img {
  height: 15px;
  background: none;
  padding: unset;
  border-radius: unset;
  width: auto;
  margin: 0 7px 0 -2px;
}

.detail-sticker .update-form-wrapper {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
}

.detail-sticker hr {
  border-top: solid 4px #40476e;
}

.detail-sticker .box-coin {
  background-image: linear-gradient(to right, #552f9c, #2c1677);
  display: flex;
  color: #fff;
  padding: 4px 25px;
}

.detail-sticker .box-coin .section-1 {
  display: inline;
  width: 50%;
  font-family: 'Roboto';
  font-size: 16px;
  letter-spacing: 0.4px;
  margin-top: 3px;
}

.detail-sticker .box-coin .section-2 {
  display: inline;
  width: 50%;
  text-align: right;
  font-family: 'Roboto';
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 200;
}

.detail-sticker .reject-box-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
}

.detail-sticker .reject-box-style {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 99999;
  background: #fafafa;
  padding: 40px 20px 40px;
  border-radius: 7% 7% 0 0;
}

.detail-sticker .reject-box-style p {
  color: #552f9c;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.detail-sticker .reject-box-style h1 {
  color: #552f9c;
  text-align: center;
  font-size: 22px;
  letter-spacing: 2.2px;
  font-weight: 600;
  margin-bottom: 30px;
}

.detail-sticker .reject-box-style a.btn.btn-white.c-violet {
  font-weight: bold;
  letter-spacing: 0.75px;
}

.detail-sticker .line---- {
  width: 25px;
  margin: auto;
  border: 1px solid #d4d4d4;
  position: absolute;
  top: 20px;
  left: 47%;
}

.detail-sticker .line----:before {
  content: '';
  height: 2px;
  width: 25px;
  background: #d4d4d4;
  position: absolute;
  top: -7px;
  left: -1px;
}
