
.sign-in {
  .form-check {
    justify-content: space-between;
  }

  .forgot-link {
    justify-content: space-between;
    font-size: 14px;
    text-decoration: underline;
  }
}

.rubah-password-holder{
  margin-bottom: 30px;
}

.p-text {
  font-size: 40px ;
}