.live-streaming-wrapper {
  height: 100vh;
  .live-video {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 0;
  }

  .navbar-top {
    padding-top: 20px;

    .box-right {
      background: #071143;
      opacity: 0.8;
      border-radius: 20px;
      h5 {
        font-size: 12px;
        letter-spacing: 1.2px;
        color: #fff;
        line-height: 15px;
        margin-bottom: 0;
        margin-top: 4px;
        font-weight: 600;
      }
      h6 {
        font-size: 10px;
        letter-spacing: 1px;
        color: #fff;
        line-height: normal;
        font-weight: 200;
        margin-bottom: 0;
      }
    }
    .logo-fameo-2 {
      height: 30px;
      border-radius: 50%;
      display: block;
      margin: 4px 8px;
    }
  }

  .logo-fameo {
    height: 40px;
    padding: 4px;
  }

  .logo-fameo-live {
    font-size: 8px;
    font-weight: 200;
    letter-spacing: 0.8px;
    color: #fff;
    position: absolute;
    top: 25px;
    right: 30px;
  }
  
  .back-btn {
    height: 24px;
  }

  #footer-menu-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    .col-12 {
      margin-bottom: 10px;
    }
    .btn-bottom-icon {
      background: rgba(85, 47, 156, .55);
      border: solid 1px rgba(42, 29, 72, .2);
      border-radius: 50%;
      padding: 5px;
    }

    .btn-bottom-icon-gift {
      background: linear-gradient(to bottom, #552f9c, #983d8d);
      border: solid 1px rgba(42, 29, 72, 0.2);
      border-radius: 50%;
      padding: 10px 13.4px;
      display: inline-block;
    }
    .btn-bottom-icon-gift img:hover {
      transform: rotate3d(1, 1, 1, 20deg);
    }

    .btn-bottom-icon-like {
      background: rgba(85, 47, 156, .55);
      border: solid 1px rgba(42, 29, 72, .2);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: auto;

      img {
        width: auto;
        height: 26px;
      }
      span {
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 1px;
        color: #fff;
        display: block;
        margin-top: -8px;
      }
    }
    .btn-bottom-icon-like img:hover {
      transform: rotate3d(1, 1, 1, 20deg);
    }

    .btn-bottom-icon-crown {
      background: linear-gradient(to bottom, #2e2e2e, #020102);
      border: solid 1px #fbbd34;
      border-radius: 50%;
      margin: auto;
      display: block;
      padding: 3px 4px 5px;
      width: 39px;
      img {
        width: auto;
        height: 18px;
      }
      .check {
        position: absolute;
        margin-left: 17px;
        top: -4px;
        height: 16px;
      }
    }
    .btn-bottom-icon-crown img:hover {
      transform: none;
    }
    
    
    .btn-bottom-icon img {
      width: 27px;
      height: auto;
    }
  }

  #footer-menu-left {
    position: absolute;
    bottom: 15px;
    left: 10px;
    width: 60%;

    p.text-1 {
      font-size: 12px;
      color: #e51f7c;
      line-height: 20px;
      margin-bottom: 0;
    }
    p.text-2 {
      font-size: 12px;
      color: #ffffff;
      line-height: 20px;
      margin-bottom: 0;
    }

  }
  .box-chats {
    background: rgba(7, 17, 67, .8);
    padding: 4px 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(51, 51, 51, .8);
    margin-bottom: 7px;
  }

  section#chat-box {
    z-index: 2;
    background: #ffffff;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 10px 20px;
    border-radius: 15px 15px 0 0;
    input {
      border-radius: 20px;
      width: 100%;
      border: solid 1px #e0dfdf;
      font-size: 13px;
      letter-spacing: 1.3px;
      padding: 10px 30px 10px 15px;
    }
    img {
      position: absolute;
      right: 23px;
      top: 7px;
      cursor: pointer;
    }
  }

  section#share-box {
    position: absolute;
    bottom: 0;
    background: #071143;
    width: 100%;
    box-shadow: 0 -10px 20px rgba(156, 39, 176, 0.3);
    border-radius: 20px 20px 0 0;
    padding: 0 25px 15px;
    p {
      font-size: 12px;
      color: #fff;
      line-height: 20px;
      text-align: center;
      padding: 20px 30px 10px;
      margin-bottom: 0;
    }
    .shareedbox {
      padding: 14px;
      border: solid 2px #fff;
      border-radius: 50%;
      margin: 10px;
      text-align: center;
    }
  }

  section#sticker-box {
    z-index: 5;
    position: absolute;
    bottom: 0;
    background: #071143;
    width: 100%;
    box-shadow: 0 -10px 20px rgba(156, 39, 176, 0.3);
    border-radius: 20px 20px 0 0;
    padding: 0 25px 15px;
    .tab-pane {
      min-height: auto;
    }
    .stickerbox {
      text-align: center;
      img {
        width: 100%;
      }
      p {
        font-size: 10px;
        color: #ffb4cc;
        line-height: 27px;
        letter-spacing: 0.25px;
        text-align: center;
        margin-bottom: 0;
      }
      h3 {
        font-size: 8px;
        letter-spacing: 0.2px;
        line-height: 8px;
        color: #925afb;
        margin-bottom: 15px;
        img {
          height: 12px;
          width: auto;
          margin-right: 5px;
        }
      }
    }
  }
       
  .backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .3);
  }

  .filter-holder {
    margin-top: 20px;
  }

  .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 0;
    
    &::-webkit-scrollbar { width: 0 !important }
  }

  .nav-link {
    position: relative;

    padding: initial;

    font-size: 15px;
    color: $grape;
    white-space: nowrap;

    border: initial;

    &.active,
    &:hover {
      color: $purple;
    
      background-color: transparent;

      &:after {
        content: '';
        position: absolute;
        bottom: -11px;
        left: 50%;

        width: 25px;
        height: 1.5px;

        background-color: $purple;
        transform: translateX(-50%);
      }
    }

    &:hover {
      text-decoration: initial;
    }
  }

  .nav-item:not(:last-child) {
    margin-right: 35px;
    height: 40px;
  }

  .box-topup-footer {
    .btn.btn-custom-1 {
      background-image: linear-gradient(to right, #8e176a, #e51f7c);
      border-color: #b51b72;
      color: #fafafa;
      font-size: 10px;
      padding: 2px;
      border-radius: 2em;
      width: 90%;
    }
    .btn.btn-custom-2 {
      background-image: linear-gradient(to right, #2e2e2e, #020102);
      border-color: #fbbd34;
      color: #fafafa;
      font-size: 8px;
      padding: 3px;
      border-radius: 2em;
      letter-spacing: 0.2px;
      width: 90%;
    }
  }

}