.order-information-wrapper {
  .after-heading-wrapper {
    padding-top: 0;
  }

  .timer-block {
    padding: 12px 20px;
    background-color: #2c1677;
    text-align: center;

    .texttimer {
      font-size: 11px;
      letter-spacing: 0.55px;
    }
  }

  .time-values-duplicate,
  .time-units-duplicate {
    display: none;
  }

  .detail-block {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
  }

  .btn-router-proceed {
    padding: 7px 15px;
    color: $white;
    background-color: $pink;
    box-shadow: 0px 6px 13px 0px rgba(253, 34, 129, 0.44);
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 15px;

    &:hover {
      color: $pink;

      background-color: $white;
      border: 2px solid $dim-gray;
    }
  }

  .btn-reject {
    margin: 20px 0;
    font-weight: bold;
    color: $white;
    opacity: 1;
    font-size: 15px;

    &:hover {
      opacity: .5;
    }
  }
}


.section-title {
  font-family: "Poppins-Regular";
  font-size: 20px;
  // text-transform: uppercase;
  // font-weight: 800;
  color: #925AFB;
}

.border-bottom-wrapper {
  .section-title {
    font-size: 18px;
    font-family:"Codec-Cold-Regular-trial";
  }
  .detail-item-wrapper {
    margin-top: 12px;
  }
  border-bottom: 1px solid #38437d;
  padding-bottom: 12px;
}

.box-btn-record-btn {
  position: relative;
  background-color:transparent;
  padding: 0!important;
  img {
    width: 100%;
    border-radius: 10px;
  }
  .play-icon {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 40%;
    width: 100px;
    height: 100px;
    padding: 22px;
    border: solid 2px;
    border-radius: 50%/50%;
    img {
      height: 60px;
    }
  }
}