.order-information-wrapper {
  .after-heading-wrapper {
    padding-top: 0;
  }

  .timer-block-2 {
    padding: 31px!important;

    background-color: #060E38;
  }

  .timer-wrapper {
    position: relative;

    .time-values {
      display: flex;
      justify-content: space-around;

      p {
        font-size: 45px;
        margin-bottom: 0px;
      }

      div {
        flex: 0 0 32%;
      }
    }

    .time-units {
      font-size: 13px;
      display: flex;
      justify-content: space-around;
    }
  }

  .time-values-duplicate,
  .time-units-duplicate {
    display: none;
  }

  .detail-block {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
  }

  .btn-router-proceed {
    padding: 7px 15px;
    color: $white;
    background-color: $pink;
    box-shadow: 0px 6px 13px 0px rgba(253, 34, 129, 0.44);
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 15px;

    &:hover {
      color: $pink;

      background-color: $white;
      border: 2px solid $dim-gray;
    }
  }

  .btn-reject {
    margin: 20px 0;
    font-weight: bold;
    color: $white;
    opacity: 1;
    font-size: 15px;

    &:hover {
      opacity: .5;
    }
  }

  .reject-box-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
  }
  .reject-box-style {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 99999;
    background: #fafafa;
    padding: 40px 20px 80px;
    border-radius: 7% 7% 0 0;
    p {
      color: #552f9c;
      text-align: center;
      font-size: 12px;
      letter-spacing: 1.2px;
    }
    textarea {
      width: 100%;
      height: 150px;
      border: solid 1px #f3f3f3;
      padding: 10px 15px;
      font-size: 13px;
      letter-spacing: 1.3px;
      line-height: 23px;
      resize: none;
    }
  }

}


.section-title {
  font-family: "Poppins-Regular";
  font-size: 13px;
}

.border-bottom-wrapper {
  .section-title {
    font-size: 18px;
    font-family:"Codec-Cold-Regular-trial";
  }
  border-bottom: 1px solid #38437d;
}