.order-review-wrapper {
  .after-heading-short-wrapper {
    padding-top: 30px;
  }
  
  .rating-wrapper {
    margin-bottom: 30px;
  }
  
  .section-title {
    margin-bottom: 15px;
    font-family: $font-codec-cold-trial-bold;
    font-size: 18px;
  }

  .star-icon {
    font-size: 40px;
  }

  .star-rating {
    display: flex;
    justify-content: center;
  }



  .order-container {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .review-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-flow: column;
    height: 100%;
  }

  .form-review {
      display: flex;
      justify-content: space-between;
      flex-flow: column;
      height: 61vh;
  }

  .lbl-review {
    font-family: "Poppins-Regular";
    font-size: 11px;
    color: $white;
  }

  .input-review {
    padding: 0 0 12px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #484952;
    border-radius: 0;
    box-shadow: 0px 7px 7px -6px rgba(85, 47, 156, 0.47);
    font-family: "Poppins-Regular";
    font-size: 17px;

    &:focus {
      background-color: transparent;
      box-shadow: 0px 7px 7px -6px #552f9c;
      border-color: #484952;
    }
  }
}