.warning-selesaikan {
    font-family: $font-poppins-regular;
    background: #2c1677;
    color: #fff;
    font-size: 11px;
    letter-spacing: 0.5px;
    padding: 12px;
    text-align: center;
    line-height: 20px;
}
.content-pembayaran {
    padding-top: 50px;
}
.info-detail-3-d {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    color: #fafafa;
    margin-top: -2px;
    opacity: .8;
    text-align: left;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(250, 250, 250, .5);
}
.content-pembayaran .form-group h4 {
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 23px;
    color: #fafafa;
    margin-bottom: 0;
    margin-top: 5px;
    text-align: left;
}
#accordion-pembayaran .card .card-header {
    border:none;

    &:hover {
        background:none
    }
}
#accordion-pembayaran .card .card-header h2 {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1.5px;
    text-align: left;
}

.content-pembayaran h2 {
    font-size: 26px;
    letter-spacing: 0.65px;
    text-align: center;
    color: #fff;
    font-weight: 200;
    line-height: 37px;
    margin-bottom: 32px;
}
#accordion-pembayaran .card {
    background-color: transparent;
    margin-bottom: 15px;
    color: #fff;
    border: solid 1px #552f9c;
    border-radius: 5px;
}
#accordion-pembayaran .card .card-header h2 button {
    color: #fff;
    padding: 4.5px;
}
#accordion-pembayaran .card .card-header h2 button:hover {
    text-decoration: none;
    opacity: .7;
}