.section-profile {
  // background: rgba($color: $navy, $alpha: .9);
  background: #060E38;

  .after-heading-wrapper {
    background: $hot-violet;
  }

  .profile-link-top-up {
    background: linear-gradient(to right, #8e176a, #e51f7c);
    opacity: 1;
    padding: 8.5px 10px;
    font-size: 8px;
    color: #fff;
    letter-spacing: 0.18px;
    border: solid 2px #b51b72;
    border-radius: 3em/20px;
    margin-right: 10px;
  }
  .profile-link-member {
    background: linear-gradient(to right, #2e2e2e, #020102);
    opacity: 1;
    padding: 8.5px 10px;
    font-size: 8px;
    color: #fff;
    letter-spacing: 0.18px;
    border: solid 1px #fbbd34;
    border-radius: 3em/20px;
    img {
      height:10px;
      margin-right: 2px;
    }
  }
  .profile-link-member:hover , .profile-link-top-up:hover {
    opacity: .8;
    text-decoration: none;
  }

  .arrow-r-small {
    height: 7px!important;
    margin-left: 2px;
  }

  .circle-crown {
    display: inline-grid;
    padding: 6px 5px;
    border-radius: 50%;
    border: solid 1px #fbbd34;
    background: linear-gradient(to right, #2e2e2e, #020102);
    margin-right: 2px;
  }
  .circle-crown img {
    height: 10px;
  }

  .box-total-koin-menu {
    background: linear-gradient(to right, #552f9c, #2c1677);
    margin: 25px 25px 30px;
    border-radius: 5px;
    padding: 8px 10px;
    .section-one {
      display: flow-root;
      border-bottom: solid 1px rgba(171, 123, 255, .5);
      padding-bottom: 6px;
      .total-wrapper {
        padding-top: 0;
      }
      .total-label , .total-amount {
        font-family: "Roboto";
        font-size: 12px!important;
        letter-spacing: 0.3px;
        color:#ffffff;
      }
    }
  }

  .box-menu-btn-4 {
    background-color: rgba(132, 101, 213, .5);
    padding: 11px 10px;
    text-align: center;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 7px;
  }
  .box-menu-btn-4:hover {
    opacity: .8;
  }
  .menu-box {
    display: flex;
    .menu-box-col {
      width: 30%;
      margin: 0 10px;

      p {
        font-size: 10px;
        letter-spacing: 0.25px;
        font-family: "Roboto";
        color: #fff;
        text-align: center;
        margin-bottom: 0;
      }
    }
  }

}

.profile-data {
  display: flex;
  align-items: center;
  padding: 30px 21px;

  background: $darkened-violet;
}

.profile-image-wrapper {
  margin-right: 20px;
  position: relative;
  z-index: 1;

  &.with-notif {
    &:before {
      content: '';

      position: ABSOLUTE;
      z-index: 1;
      right: 0px;
      bottom: 5px;

      width: 15px;
      height: 15px;

      background: $sunflower;
      border-radius: 50px;
    }
  }
}

.user-name {
  margin-bottom: 12px;

  font-family: $font-codec-cold-trial-bold;
  font-size: 18px;
  color: $white;
}

.link-wrapper,
.profile-link {
  font-family: $font-poppins-regular;
  font-size: 14px;
  color: $bright-pink;
}

.profile-link {
  text-decoration: underline;

  &:hover {
    color: $bright-pink;

    opacity: .5;
  }

  &:first-child {
    margin-right: 5px;
  }

  &:last-child {
    margin-left: 5px;
  }
}
