.profile-update-wrapper {
  .after-heading-wrapper {
    padding-top: 30px;
  }
  .form-control[readonly] {
    background-color: transparent;
  }
  .round-image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }


  .round-image-document {
    width: 200px;
    height: 200px;
    border-radius: 20%;
  }

  .profile-image-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 300px;
    margin: 0 auto 30px;
  }

  .mediafoto {
    width: 100%;


  }


  .dropzone-document {
    background: white;
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
   // position: absolute;
    top: 40px;
    right: 36px;
    justify-content: center;
    cursor: pointer;
  }

  .dropzone {
    background: white;
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 36px;
    justify-content: center;
    cursor: pointer;
  }

  .dropzone-data {
    margin: 5px auto 0;
  }

  .update-form-wrapper {
    padding-bottom: 73px;
  }

  .phone-holder {
    display: flex;
    justify-content: space-between;
  }

  .select-holder {
    flex: 0 0 15%;
  }

  .phone-input {
    flex: 0 0 83%;
  }

  .textbox {
    font-size: 14px;
    font-family: $font-poppins-regular;
    color: #000;
    letter-spacing: 1.1px;
  }
  .textbox2 {
    font-size: 14px;
    font-family: $font-poppins-regular;
    color: #000;
    letter-spacing: 1.1px;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
  }
  p {
    color: #bf1650;
    font-size: 16px;
  }
  // p::before {
  //   display: inline;
  //   content: "⚠ ";
  // }


  .textbox-mandatory {
    font-size: 14px;
    font-family: $font-poppins-regular;
    color: #000;
    letter-spacing: 1.1px;
    // width: 50rem;
  }
  .form-control-file {
    color: #fff;
  }
  .title-textbox {
    font-family: $font-poppins-regular;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1.1px;
  }
  .button-submit {
    position: relative;
    justify-content: center;
    justify-items: center;
    align-content: center;
    font-family: $font-poppins-regular;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1.1px;
  }
  .button {
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
  .password-holder {
    position: relative;
  }
  #show-hide-kata-sandi {
    position: absolute;
    right: 0;
    margin-right: 10px;

    margin-top: -24px;
    z-index: 44;
      cursor: pointer;
  }
  #show-hide-kata-sandi:hover {
    opacity: .6;
  }
}

.basic-image-upload-drop {
  flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: rgba(255,255,255,0.1);
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;

    p {
      color: #fff;
      margin: 0;
      font-size: 12px;
    }
}