.reports-wrapper {

.amount-wrapper .mystyle {
  transform: rotate(180deg);
}
.total-label {
  font-size: 18px;
  letter-spacing: 0.45px;
  color: #fafafa;
  font-family: $font-codec-cold-trial-bold;
}
.amount-wrapper img {
  height: 8px;
}

.main-box-wrapper {
  border-top: solid 1px rgba(88, 98, 144, .8);
  padding: 20px 0;
}
.main-box-wrapper:last-child {
  border-bottom: solid 1px rgba(88, 98, 144, .8);
}
.main-box-wrapper:first-child {
  border-top:none;
}

.total-wrapper {
  padding-top: 0;
}

.desc-- {
  font-size: 10px;
  letter-spacing: 0.25px;
  line-height: 27px;
}

h2.section-title {
  color: #ffb4cc;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  letter-spacing: 0.3px;
}

}