
.search {
  min-height: 100vh;
  background-color: $navy;

  .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    
    &::-webkit-scrollbar { width: 0 !important }
  }

  .nav-link {
    position: relative;

    padding: initial;

    font-size: 15px;
    color: $grape;
    white-space: nowrap;

    border: initial;
    text-transform: capitalize;

    &.active,
    &:hover {
      color: $purple;
    
      background-color: transparent;

      &:after {
        content: '';
        position: absolute;
        bottom: -11px;
        left: 50%;

        width: 25px;
        height: 1.5px;

        background-color: $purple;
        transform: translateX(-50%);
      }
    }

    &:hover {
      text-decoration: initial;
    }
  }

  .nav-item:not(:last-child) {
    margin-right: 35px;
  }
  .nav-tabs {
    margin-bottom: 0;
  }
}
.results-holder > .tab-pane {
  min-height: 100vh;
}