.TalentImg{
    width: 55px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 100px;
}

.TalentName
{
    font-size: 14px;
    color: white;
    margin-top: 50px;
    margin-left: 10px;
    
}