.fameo-live-start-wrapper {
  .nav-tabs {
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .nav-tabs .nav-item {
    margin:0 15px;
  }
  .nav-tabs .nav-link.active {
    margin: auto;
  }
  .nav-tabs .nav-link {
    position: relative;
    margin: auto;
    line-height: 27px;
    letter-spacing: 0.38px;
    height: 58px;
  }
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border: none;
    border-bottom: none;
    line-height: 27px;
  }
   .nav-tabs .nav-item.show .nav-link:focus,  .nav-tabs .nav-link.active {
    border: none;
    border-bottom: none;
    line-height: 27px;
  }
   .nav-tabs .nav-link.active {
    position: relative;
  }
  a.active.nav-link:after {
    background: #925afb;
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    bottom: 6px;
    left: 36%;
  }
  a.nav-link:hover:after {
    background: #925afb;
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    bottom: 6px;
    left: 36%;
  }
  .nav-item:last-child a.active.nav-link:after {
    left: 30%!important;
  }
  .nav-link:last-child .nav-link:hover:after {
    left: 30%!important;
  }

  .title-textbox {
    font-size: 12px;
    letter-spacing: 1.1px;
  }
  .form-group {
    margin-bottom: 32px;
  }
  a.btn.btn-pink {
    padding: 6.5px;
    background-image: linear-gradient(to right, #8e176a , #e51f7c);
    opacity: 1;
    border: solid 2px #b51b72;
    font-size: 14px;
    color: #fafafa;
    letter-spacing: 0.35px;
  }
  .date-icon {
    position: absolute;
    margin-top: -32px;
  }
  input.textbox.form-control {
    padding-left: 30px;
  }
  select.select-bar.form-control {
    padding-left: 30px;
  }
  select.select-bar.form-control:focus {
    background-color: transparent;
    border-color: #925AFB;
  }

  input::placeholder {
    color: #40476e;
    font-size: 15px;
    letter-spacing: 1.5px;
  }

  select:valid { 
    color: #40476e;
    font-size: 15px;
    letter-spacing: 1.5px;
  }
}