.talentanswer-wrapper {
  .beri-jawaban {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: $font-poppins-regular;
    font-size: 16px;
    letter-spacing: 0.45px;
    line-height: 27px;
    color: #fafafa;
    text-align: center;
  }
  .title-textbox {
    color: #8388a1;
  }
  textarea {
    color: #fafafa;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: solid 2px #707070;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1.5px;
  }
  input {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1.5px;
    color: #fafafa;
  }

  textarea:focus , input:focus {
    background-color: transparent;
    border-color: #925AFB;
    box-shadow: 0px 9px 7px -7px rgba(146, 90, 251, 0.36);
    color: #fafafa;
  }

  .box-btn-on-talent {
    padding: 14px;
    border: solid 2px #fff;
    border-radius: 50% / 50%;
    width: 60px;
    text-align: center;
    margin: auto; 
    img {
      vertical-align: baseline;
    }
  }

  .box-btn-on-talent-2 {
    color: #ffffff;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.75px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
  }

  .box-btn-on-talent:hover , .box-btn-on-talent-2:hover {
    opacity: .8;
  } 
}