.talent-live-wrapper {
  
  .box-video-- {
    padding: 0;
  }
  a.btn.btn-pink {
    padding: 6.5px;
    background-image: linear-gradient(to right, #8e176a , #e51f7c);
    opacity: 1;
    border: solid 2px #b51b72;
    font-size: 14px;
    color: #fafafa;
    letter-spacing: 0.35px;
    margin-top: 10px;
  }
  .wrapper_talent-btn {
    position: fixed;
    bottom: 25px;
    width: 100%;
    padding: 0 25px;
  }
  .box-chat-bbb {
    background: rgba(7, 17, 67, .8);
    color: #fff;
    width: fit-content;
    padding: 2.5px 10px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 20px;
    margin-bottom: 8px;
  }
  .box-chat-bbb {
    .username {
      color: #e51f7c;
    }
  }
  .toolbar {
    background: #071143;
    padding: 13px 23px 14px;
    opacity: .8;
    span.icon-dsc {
      color: #fff;
      font-size: 10px;
      letter-spacing: 0.25px;
    }
  }
  .live-berakhir {
    font-family: "Poppins-Regular";
    font-size: 18px;
    color: #fafafa;
    letter-spacing: 0.45px;
    line-height: 27px;
    font-weight: normal;
    margin-bottom: 22px;
  }

.section-title {
  font-family: "Poppins-Regular";
  font-size: 13px;
}

.border-bottom-wrapper {
  .section-title {
    font-size: 18px;
    font-family:"Codec-Cold-Regular-trial";
  }
  border-bottom: 1px solid #38437d;
}

.img-rec-bg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.vid-logo-det-2 {
  width: 50px;
  height: auto;
  margin: 10px 20px;
}

.wrapper_btn_rec_box {
  background-color: rgba(0, 0, 0, .7);
  height: 137px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fff;

  .rec-dot {
    width: auto;
    text-align: center;
    letter-spacing: 0.65px;
    padding-bottom: 6px;
    font-size: 13px;
    line-height: 2;
    margin-top: 12px;
    position: relative;
  }
  .rec-dot:before {
    content: "";
    background: red;
    height: 7px;
    width: 7px;
    position: absolute;
    top: 10px;
    margin-left: -10px;
    border-radius: 50%;
  }
  .rec-dot-2 {
    width: 50px;
    padding: 8px 11px 10px;
    margin: auto;
    background: transparent;
    border-radius: 50%/50%;
    border: solid 3px rgba(255, 255, 255, .5);
  }
  .rec-dot-3 {
    background: red;
    height: 70px;
    width: 70px;
    margin: auto;
    border-radius: 50%/50%;
    border: solid 18px;
    box-shadow: 0 0 20px rgba(233, 30, 99, .6);
  }
  .p-menuz-rec {
    padding-top: 8px;
    padding-left: 30px;
  }
  .p-menuz-rec-2 {
    padding-top: 8px;
    padding-right: 30px;
  }
  .circle-action--- {
    background: #dc0a4b; height: 100%; width: 100%;border-radius: 5px;
  }
}

.wrapper_btn_sub_box {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 137px;
  height: auto;
  color: #fff;
  padding-top: 70%;
  padding-left: 26px;
  padding-right: 26px;

  p {
    font-size: 15px;
  }
}

.wrapper_btn_sub_box_two {
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  height: auto;
  color: #fff;
  padding-top: 60%;
  padding-left: 26px;
  padding-right: 26px;
}

#pause-right-show-hide-stop div {
  height: 18px;
  width: 18px;
  background: #fff;
  border-radius: 5px;
  margin: 6px 2px 4px;
}

#box-download-if-click-stop .justify-content-center p {
  margin-top: 15px;
  font-family: "Poppins-Regular";
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 27px;
  color: #fff;

}

.rec-dot-3-- {
  width: 60px;
  height: 60px;
  padding: 15px;
  margin: auto;
  background: #fff;
  border-radius: 50%/50%;
  border: solid 3px rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-top: 10px;
  img {
    vertical-align: initial;
  }
}

}