.withdraw-funds {
  padding-bottom: 10px;
  color: $white;

  height: auto;
  min-height: 100vh;

  background: #071042;

  .total-balance {
    padding: 27px 0;
    text-align: center;

    background: #060e38;


    h3 {
      font-size: 18px;
      font-weight: 800;
    }

    p {
      margin-bottom: 0;

      font-size: 34px;
      font-weight: 100;
    }
  }

  .container {
    padding: 0 25px;
  }

  .details {
    padding: 6px 0;
  }

  .form {
    margin: 23px 0;

    &:before {
      content: '';
  
      display: block;
      width: 100%;
      height: 2px;
      margin: 7px auto;

      background: #242b58;
    }

    .form-group {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    .button-holder {
      margin-top: 33px;
    }
  }
}