
  .search-bar {
    padding-top: 20px;
    
    .form-group {
      position: relative;
    }

    input {
      padding: 19px 25px 19px 13px;

      font-size: 15px;
      color: $white;

      background-color: transparent;
      border: 1px solid $grape;

      &:focus {
        background-color: transparent;
        border-color: $purple;
        box-shadow: 0px 0px 10px 0px rgba(146, 90, 251, 0.37);
      }
    }
  
    .search-icon {
      position: absolute;
      top: 0;
      right: 0;

      width: 43px;
      height: 100%;
      outline: none;

      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='21' height='21' viewBox='0 0 21 21'%3E%3Cdefs%3E%3Cfilter id='search' x='0' y='0' width='21' height='21' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='1' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='1' result='blur'/%3E%3CfeFlood flood-color='%23fd3777' floodOpacity='0.4'/%3E%3CfeComposite operator='in' in2='blur'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg transform='matrix(1, 0, 0, 1, 0, 0)' filter='url(%23search)'%3E%3Cpath id='search-2' data-name='search' d='M8.848,0A6.149,6.149,0,0,0,4.117,10.081L.173,14A.586.586,0,1,0,1,14.83l3.949-3.922a6.149,6.149,0,0,0,6.911.611.586.586,0,0,0-.574-1.021,4.978,4.978,0,1,1,1.892-1.881A.586.586,0,1,0,14.2,9.2,6.154,6.154,0,0,0,8.848,0Z' transform='translate(3 2)' fill='%23da2e73'/%3E%3C/g%3E%3C/svg%3E%0A") center no-repeat;
      background-size: 55%;
      border: 0;
    }

    .btn-secondary {
      &:not(:disabled):not(.disabled):active,
      &:focus,
      &:hover {
        color: transparent;

        background-color: transparent;
        border-color: transparent;
        box-shadow: initial;
      }
    }
  }
