
.form-group {
  margin-bottom: 22px;
}

.title-textbox {
  width: 100%; 
  
  font-size: 14px;
  text-align: initial;
}

.textbox {
  padding: 8px 10px;
  
  font-size: 15px;

  background-color: #ffff;
  border: 0;
  border-bottom: 2px solid $fiord;
  border-radius: inherit;

  ::placeholder {
    font-size: 17px;
  }

  &:focus {
    background-color: #ffff;
    border-color: $purple;
    box-shadow: 0px 9px 7px -7px rgba(146, 90, 251, 0.36);
  }

  &:-internal-autofill-selected {
    background-color: transparent!important;
  }
}

.textbox-transparent {
  background: transparent;
  border: 1px solid $purple;
}

input {
  font-family: $font-poppins-regular;
}